@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations
@using Syncfusion.Blazor.SplitButtons
@inject IUrlHelper Url

<SfAppBar ColorMode="AppBarColor.Primary">
    <div class="flex-grow flex justify-center items-center gap-12 cshtmlNavbar">
        <div class="flex justify-center items-center gap-4">
            <SfButton CssClass="text-white text-2xl" IconCss="e-icons e-home" Content="Home" OnClick="@(Url.Action("Index", "Home"))" />
            <SfButton CssClass="text-white text-2xl" IconCss="e-icons e-notes" Content="Medical Inventory" OnClick="@(Url.Action("Inventory", "Home"))" />
            <SfButton CssClass="text-white text-2xl" IconCss="e-icons e-notes" Content="Computer Inventory" OnClick="@(Url.Action("computer", "Home"))" />
        </div>
        
    </div>

    @* <div class="flex items-center">
        @await Html.PartialAsync("_LoginPartial")
    </div> *@
</SfAppBar>
