@page
@model FieldMRIServicesServices.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Log in";
}

<div class="flex flex-col items-center justify-center h-screen">
    <div class="flex flex-col sm:flex-row justify-center items-center space-y-12 sm:space-y-0 space-x-0 sm:space-x-6 mb-20 mx-6 sm:mx-0">
        <div class="flex justify-center">
            <img class="w-full h-full object-cover" src="/Images/FMS.png">
        </div>
        <h1 class="text-6xl sm:text-8xl text-center font-excon">Field MRI Services</h1>
    </div>
<div class="p-12 shadow-md rounded-lg max-w-md w-full sm:w-3/4 md:w-1/2 lg:w-1/3 border-indigo-300 border-2 mx-6 sm:mx-0">
    <h1 class="text-4xl font-medium pb-12 m-0 text-center font-alpino">LOGIN</h1>
    <section class="font-alpino font-normal">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>
            <div class="mb-4">
                <label asp-for="Input.Email" class="block text-gray-700">Email <span class="text-red-500">*</span></label>
                <input asp-for="Input.Email" class="form-control w-full px-3 py-1 border rounded-md focus:outline-none ring-1 ring-indigo-300 focus:ring-2 focus:ring-indigo-500" />
                <span asp-validation-for="Input.Email" class="text-red-500"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Input.Password" class="block text-gray-700">Password <span class="text-red-500">*</span></label>
                <input asp-for="Input.Password" class="form-control w-full px-3 py-1 border rounded-md focus:outline-none focus:ring-2 ring-1 ring-indigo-300 focus:ring-indigo-500" />
                <span asp-validation-for="Input.Password" class="text-red-500"></span>
            </div>
            <div class="flex items-center">
                <input asp-for="Input.RememberMe" class="mr-2 focus:outline-none focus:ring-2 focus:ring-indigo-500" />
                <label asp-for="Input.RememberMe" class="text-gray-700">
                    @Html.DisplayNameFor(model => model.Input.RememberMe)
                </label>
            </div>
            <div class="mt-8">
                <button type="submit" class="font-medium font-excon py-2 px-4 bg-indigo-600 text-white rounded-md hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 text-sm w-full">Log in</button>
            </div>
        </form>
    </section>
</div>
</div>