@inherits LayoutComponentBase

<PageTitle>FieldMRIServicesServices</PageTitle>

<div>
    <div>
        <NavBar />
    </div>

    <main>

        <article class="content px-4">
           @Body
        </article>
    </main>
</div>
